.add-wp-logo-slider-images {
    padding    : 10px;
    text-align : center;

    }

.wp-logo-slider-metabox-sortable-placeholder {
    width         : 80px;
    display       : inline-block;
    cursor        : move;
    border        : 1px solid #D5D5D5;
    margin        : 9px 9px 0 0;
    background    : #F7F7F7;
    border-radius : 2px;
    position      : relative;
    box-sizing    : border-box;
    height        : 170px !important;
    }

.wp-logo-slider-images {
    display       : block;
    text-align    : left;
    position      : relative;
    border-bottom : 1px solid #EEEEEE;
    }

.wp-logo-slider-images > li {
    display       : inline-block;
    width         : 150px;
    padding       : 12px;
    position      : relative;
    background    : #FFFFFF;
    border-radius : 2px;
    cursor        : move;
    }

.wp-logo-slider-images > li .actions {
    text-align : center;
    }

.wp-logo-slider-images > li .actions li {
    display : inline-block;
    }

.wp-logo-slider-iframe-new-button {
    float : left;
    }

/**
Settings Panels
*/
[data-depends], .dependency-field {
    display : none;
    }

.table-inline {
    display        : inline-block;
    vertical-align : top;
    }

.table-inline-30 {
    width : 30%;
    }

.table-inline-40 {
    width : 40%;
    }

.table-inline-60 {
    width : 60%;
    }

.table-inline-70 {
    width : 70%;
    }

@media screen and (max-width : 782px) {
    .table-help {
        display : none;
        }
    }